<div class="row">
    <div class="col-sm-12">
        <h3>G.A. V - Agora é sério! (32 horas)</h3>
        <br/>
        <br/>
    </div>
</div>
<div class="row">
    <ul>
        <li>Recursos avançados do segurança</li>
        <li>Swagger</li>
        <li>Testes com DBUnit</li>
        <li>Gerando Relatórios</li>
        <li>Integrações com DASHBOARD e REPORT</li>
        <li>GumgaThreadScope</li>
        <li>Gumga Customizable Model</li>
        <li>Gumga Values</li>
        <li>Políticas Multitenancy</li>
        <li>Liquibase</li>
        <li>Integração com segurança via proxy</li>
        <li>Integração com outros serviços</li>
        <li>Adicionando bibliotecas JS externas</li>
        <li>Criar fork do Gumga Components e usar as tarefas de desenvolvimento</li>
        <li>Criação de componente visual para o projeto</li>
        <li>Minificar e gerar o build</li>
        <li>Alterar o arquivo de configuração do Gumga Layout</li>
        <li>Exportar com tasks do Gulp</li>
        <li>Implementar no projeto</li>
    </ul>
</div>
