<div class="row">
    <div class="col-sm-12">
        <h3>G.A. I - Mãos a obra (8 horas)</h3>
        <br/>
        <p>O que são, para que servem no desenvolvimento GUMGA e como instalar:</p>
        <br/>
    </div>
</div>
<div class="row">
    <ul>
        <li>Java 8, Maven 3</li>
        <li>NodeJS, Npm, Bower</li>
        <li>Como utilizar o Archetype GUMGA e criar um projeto</li>
        <li>Como criar uma entidade, e demais camadas do projeto com o GUMGAG (gerador de código de linha de comando)</li>
        <li>Utilizando IDEs e ferramentas com o projeto, (Netbeans, http-server, etc…)</li>
        <li>Configuração de banco de dados</li>
        <li>Conceitos básicos do segurança, como cadastrar um software e operações, usuário, organização, instância e perfil e utilizá-lo no projeto criado</li>
        <li>Testando a API através de ferramentas (postman, firefox, etc..)</li>
        <li>Apresentar conceitos do framework relativos a Multitenancy</li>
        <li>Oficina prática com entrega de projeto no github</li>
    </ul>
</div>
