<gumga-header menu="$ctrl.navMenu"></gumga-header>
<main class="gl-main">
    <div class="container-fluid content home-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">

                    <div class="col-md-3 docs-item" ui-sref="app.gerador">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container">
                                <i class="material-icons">beach_access</i>
                                <h3>Gerador</h3>
                                <p>
                                    Saiba como começar a utilizar o gerador gumga em suas aplicações.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 docs-item" ui-sref="app.framework">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container">
                                <i class="fa fa-puzzle-piece"></i>
                                <h3>Framework</h3>
                                <p>
                                    Saiba como começar a utilizar o framework gumga em suas aplicações.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 docs-item" ui-sref="app.component">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container">
                                <i class="material-icons">widgets</i>
                                <h3>Components</h3>
                                <p>
                                    Lista dos repositórios e documentação dos 
                                    
               
                               componentes web individualmente.
                                    <br>
                                    <strong class="text-success">Recomendado!</strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 docs-item" ui-sref="app.components">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container danger">
                                <i class="material-icons">view_quilt</i>
                                <h3>Components</h3>
                                <p>
                                    Pacote com todos nossos componentes de interface web - tudo o que você precisa saber.
                                    <br>
                                    <strong class="text-danger">Esta versão está sendo descontinuada.</strong>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: 40px;">
                    <div class="col-md-3 docs-item" ui-sref="app.academy">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container">
                                <i class="material-icons">fitness_center</i>
                                <h3>Academia Gumga</h3>
                                <p>
                                    Veja todo conteúdo que você verá na academia gumga.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 docs-item" ui-sref="app.security">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container">
                                <i class="material-icons">lock</i>
                                <h3>Segurança Embarcado</h3>
                                <p>
                                    Coloque o segurança dentro de sua aplicação gumga em poucos passos.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 docs-item" ui-sref="app.gumgaReport">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container">
                                <i class="material-icons">insert_drive_file</i>
                                <h3>Gumga Report</h3>
                                <p>
                                    Utilize o serviço ou o módulo do gumga-report para trabalhar com relatórios.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 docs-item">
                        <a href="https://gumga.github.io/layout/" target="_blank">
                            <div class="row">
                                <div class="col-sm-12 docs-item-container">
                                    <i class="material-icons">palette</i>
                                    <h3>Gumga Layout</h3>
                                    <p>
                                        Transforme seu layout em material design.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="row" style="margin-top: 40px;">
                    <div class="col-md-3 docs-item" ui-sref="app.springcloudconfig">
                        <div class="row">
                            <div class="col-sm-12 docs-item-container">
                                <i class="material-icons">cloud_download</i>
                                <h3>Spring Cloud Config</h3>
                                <p>
                                    Saiba como começar a utilizar o spring cloud config em suas aplicações.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 docs-item" ui-sref="app.springclouddiscovery">
                            <div class="row">
                                <div class="col-sm-12 docs-item-container">
                                    <i class="material-icons">visibility</i>
                                    <h3>Spring Cloud Discovery</h3>
                                    <p>
                                        Saiba como começar a utilizar o spring cloud dicovery em suas aplicações.
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3 docs-item" ui-sref="app.docker">
                            <div class="row">
                                <div class="col-sm-12 docs-item-container">
                                        <i class="material-icons">view_stream</i>
                                    <h3>Docker</h3>
                                    <p>
                                        Saiba como adicionar o docker em suas aplicações.
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3 docs-item" ui-sref="app.freshdesk">
                            <div class="row">
                                <div class="col-sm-12 docs-item-container">
                                    <i class="material-icons">call</i>
                                    <h3>Chamados pela aplicação</h3>
                                    <p>
                                        Saiba como abrir tickets de sua aplicação utilizando o framework.
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>

</main>