<gumga-header menu="$ctrl.navMenu"></gumga-header>
<main>
    <div class="container-fluid content home-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-3">

                <div class="col-md-4 docs-item" ui-sref="app.framework">
                    <div class="row">
                        <div class="col-sm-12 docs-item-container">
                            <i class="material-icons">beach_access</i>
                            <h3>Framework</h3>
                            <p>
                                Saiba como começar a utilizar o framework gumga em suas aplicações.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 docs-item" ui-sref="app.components">
                    <div class="row">
                        <div class="col-sm-12 docs-item-container">
                            <i class="material-icons">widgets</i>
                            <h3>Components</h3>
                            <p>
                                Uma visualização abrangente de nossos componentes de interface web - tudo o que você
                                precisa saber.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
