<div class="row">
    <div class="col-sm-12">
        <h3>G.A. III - Como funciona? (Front-End)  (8 horas)</h3>
        <br/>
        <p>Exame detalhado do projeto padrão GUMGA</p>
        <p>Quais são, para que servem e como a GUMGA utiliza os frameworks no front-end</p>
        <br/>
    </div>
</div>
<div class="row">
    <ul>
        <li>Rotas, mensagens, traduções, menus, e boas práticas</li>
        <li>Testando, e debugando Javascript</li>
        <li>Injeção de dependência</li>
        <li>Oficina prática com entrega de projeto no github</li>
    </ul>
</div>
