<div class="row">
    <div class="col-sm-12">
        <h3>G.A. II - Como funciona? (Back-End) (12 horas)</h3>
        <br/>
        <p>Exame detalhado do projeto padrão GUMGA</p>
        <p>Quais são, para que servem e como a GUMGA utiliza os frameworks no back-end.</p>
        <br/>
    </div>
</div>
<div class="row">
    <ul>
        <li>
            Análise de projetos Orientada a Objetos
            <ul>
                <li>Orientação Objetos em Java, Mapeamento Objeto Relacional com Hibernate</li>
                <li>Gumga Model, Multitenancy</li>
                <li>Mapeamento JSON de Objetos (ciclos e como resolvê-los)</li>
            </ul>
        </li>
        <li>Apresentação, análise e implementação de projeto exemplo (PROJETO X)</li>
        <li>Oficina prática com entrega de projeto no github</li>
    </ul>
</div>
