<gumga-header show-icon-menu="false"></gumga-header>

<main>
    <div class="container-fluid content">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel gmd">
                <div class="panel-heading">Adicionando o Docker no projeto com o framework GUMGA</div>
                <div class="panel-body">
                    <p><b>Primeiro passo:</b> entrar no módulo boot e adicionar na tag build -> plugins do pom.xml os seguintes plugins: 
                    </p>
<pre><code class="prettyprint">&lt;plugin>
    &lt;groupId>org.springframework.boot&lt;/groupId>
    &lt;artifactId>spring-boot-maven-plugin&lt;/artifactId>
    &lt;version>1.3.8&lt;/version>
    &lt;configuration>
        &lt;executable>true&lt;/executable>
    &lt;/configuration>
    &lt;executions>
        &lt;execution>
            &lt;goals>
                 &lt;goal>repackage&lt;/goal>
            &lt;/goals>
        &lt;/execution>
    &lt;/executions>
&lt;/plugin>
    
&lt;plugin>
    &lt;groupId>com.spotify&lt;/groupId>
    &lt;artifactId>dockerfile-maven-plugin&lt;/artifactId>
    &lt;version>1.3.6&lt;/version>
    &lt;configuration>
        &lt;repository>primeiroDocker&lt;/repository>
        &lt;tag>latest&lt;/tag>
        &lt;contextDirectory>${project.build.directory}&lt;/contextDirectory>
    &lt;/configuration>
&lt;/plugin>
</code></pre>       
<p><b>Segundo passo:</b> no módulo boot criar a pasta src/main/docker e dentro dela criar o arquivo Dockerfile com o seguinte conteúdo:</p>                                                   
<pre><code class="prettyprint">FROM frolvlad/alpine-oraclejdk8:slim

ADD *.jar /app.jar
EXPOSE 8080
CMD java -jar /app.jar
</code></pre>
                    <p><b>Terceiro passo:</b> mvn clean install no projeto na pasta pasta do projeto principal.</p>
                    <p><b>Quarto passo:</b> mvn clean package dockerfile:build na pasta do módulo boot.</p>
                    <p><b>Quinto passo:</b> docker run -p 8080:8080 -it primeiroDocker</p>
                </div>
            </div>
        </div>

    </div>
</main>