.tab-content > .tab-pane > pre {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
}
.tab-content > .tab-pane > pre code {
  white-space: inherit;
}

h1{
  color: rgb(0, 150, 136) !important; 
}

div > p {
  text-align: justify;
}

.navbar-inverse .navbar-brand{color: #fff;} 

.navbar-inverse .navbar-nav>li>a{color: #fff;} 

.navbar-inverse{background: rgb(0, 150, 136);border: none;}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #fff;
    cursor: default;
    background-color: #009688;
    border: 1px solid #009688;
    border-bottom-color: #009688;
}
