body, html{
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  transition: all 2s linear;
}

h3{
  color: #009688 !important;
}

pre{
  background: white;
}

a[href]{
  color: rgba(9, 9, 245, 0.77);
}

.nav-tabs>li>a:hover{
  color: #fff;
}

span[tabindex] > span > div{
  color: #000;
}

span[tabindex]:hover > span > div{
  color: #fff;
}

.menu-separator{
  font-size: 12px;
  color: #8c7d7d;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.gumga-docs-nav{
  z-index: 999 !important;
  padding-top: 74px !important;

}

.gumga-docs-nav-ul{
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.gumga-docs-nav-ul > li > a{
  display: inline-block;
  color: #212121;
  line-height: 1;
  color: #9da5b3;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}

.gumga-docs-nav-ul > li > a:target{
  color: #000;
}

.home-container{
  margin-top: 50px;
}

.components-container{
  margin-bottom: 20px;
}

.docs-item{
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  padding-left: 45px;
  padding-right: 45px;
}

.docs-item-container > i{
  font-size: 150px;
  height: 165px;
  color: #009688;
  -webkit-transition: 0.3s ease-out;
  -moz-transition:  0.3s ease-out;
  transition:  0.3s ease-out;
  cursor: pointer;
}

.docs-item-container > i:hover{
  font-size: 160px;
  /*-webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);*/
  color: #1b9a59;
  opacity: .8;
}

.docs-item-container.danger > i:hover {
  color: #de3e35;
  opacity: .8;
}

.docs-item-container > h3{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.docs-item-container > p{
  font-size: 14px;
  color: #a0a5b0;
  line-height: 2.1em;
  margin: 1.2em 0 1.6em;
  font-weight: 500;
  margin-top: 11px;
  cursor: pointer;
}

.text-success {
  color: #1b9a59;
}
.text-danger {
  color: #de3e35;
}

.content .page-header {
  padding: 0;
  margin: 0 0 40px;
}
