<div class="row">
    <div class="col-sm-12">
        <h3>Configuração do Segurança Embarcado.</h3>
        <div class="row">
          <div class="col-sm-12">
              <h4>Atributos</h4>
              <table class="table table-bordered table-striped">
                  <tr>
                      <th>Parâmetro</th>
                      <th>Tipo</th>
                      <th>Descrição</th>
                  </tr>
                  <tr>
                      <td>appURL</td>
                      <td>STRING</td>
                      <td>Localização da sua aplicação, geralmente é usado o arquivo apiLocations.</td>
                  </tr>
                  <tr>
                      <td>eternalToken</td>
                      <td>STRING</td>
                      <td>Token eterno fixo, caso não seja preenchido, usaremos o token da sessionStorage.</td>
                  </tr>
                  <tr>
                      <td>user</td>
                      <td>BOOLEAN</td>
                      <td>Será usado para mostrar ou ocultar a aba de usuários e organizações.</td>
                  </tr>
                  <tr>
                      <td>perfil</td>
                      <td>BOOLEAN</td>
                      <td>Será usado para mostrar ou ocultar a aba de perfil.</td>
                  </tr>
              </table>
          </div>
        </div>
        <br/>
    </div>
</div>
